.container {
  display: grid;
  justify-items: center;
}

.container ul li {
  margin-top: 1em;
  list-style: none;
  border: 2px solid black;
  background: rgb(248, 222, 188);
  padding: 0.4em;
}

.container ul li p {
  margin: 0;
}

.buttonContainer {
  display: grid;
  margin-top: 1em;
  grid-auto-flow: column;
  column-gap: 1em;
}

.buttonContainer button {
  font-size: 1.5em;
}

.formContainer {
  display: grid;
  margin-top: 1em;
  row-gap: 0.5em;
  background-color: rgb(194, 255, 236);
  border: 2px solid black;
  padding: 0.3em;
  justify-items: center;
}
